.App {
  text-align: center;
  background-color: black;
  color: antiquewhite;
  overflow: hidden;
}

#navbar {
  background-color: black;
}

#flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
}

#intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: inherit;
  min-height: 100vh;
  background-color: #3A3A3A;
}

#contact-container {
  min-width: inherit;
  min-height: 100vh;
  background-color: orange;
}
