.myName {
    background-color: #222;
    color: antiquewhite;
    align-content: center;
    width: 70%;
    margin: 0px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.factoid {
    background-color: #222;
    color: antiquewhite;
    align-content: center;
    width: 70%;
    margin: 0px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}